html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 1600px;
  width: 100%;
  max-height: 1200px;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  min-height: 100%;
  padding: 95px;
  background: linear-gradient(125deg, #fc3f5f 0%, #7d61ff 100.32%);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container */
.container {
  max-width: 1410px;
  width: 100%;
  border-radius: 32px;
  background: linear-gradient(
    180deg,
    rgba(43, 34, 21, 0.8) -1.22%,
    #22282e 101.33%
  );
  box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.3);
  padding: 32px;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

.nav__logo,
.btn {
  max-width: 175px;
  width: 100%;
}

.nav__logo img {
  width: 38px;
  max-width: 38px;
  height: 47px;
  transition: 0.5s all ease-in-out;
}

.nav__logo img:hover {
  transform: translateY(-15px);
}

.nav__ul {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.nav__a {
  color: #a0a3a7;
  font-size: 14px;
  font-weight: 300;
  transition: 0.2s all ease-in-out;
  transform: scale(1);
}

.nav__a:hover {
  display: inline-block;
  transform: scale(1.5);
}

/* main */
.main {
  margin-top: 179px;
  color: #f2f4f7;
  text-align: center;
}

.main__title,
.main__desc {
  max-width: 598px;
  margin-inline: auto;
}

.main__title {
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 32px;
  transition: 0.5s all ease-in-out;
}

.main__title:hover {
  color: #335de7;
}

.main__desc {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 80px;
  transition: 0.5s all ease-in-out;
}

.main__desc:hover {
  color: #e2d734;
}

/* btn */
.btn {
  display: inline-block;
  bottom: 0;
  cursor: pointer;
  border-radius: 999px;
  font-weight: 600;
}

.btn_primary {
  background: linear-gradient(93deg, #e1e1e1 8.37%, #fff 99.95%);
  box-shadow: 0px 4px 50px 0px rgba(37, 37, 37, 0.08),
    1px 1px 1px 0px rgba(135, 135, 135, 0.32) inset;
  color: #24282e;
  font-size: 14px;
  padding: 16px 24px;
}

.main__btn {
  border: 2px solid #fc40f4;
  padding: 16px 32px;
  font-size: 18px;
  color: #fc40f4;
  min-width: 239px;
  margin-bottom: 64px;
  transition: 0.5s all ease-in-out;
}

.main__btn:hover {
  transform: translateY(-15px);
  color: #e2d734;
  border-color: #335de7;
}

/* loading */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 129px;
}

.icon_menu {
  color: #e1e1e1;
  font-size: 54px;
  display: none;
}

.nav__btn .material-icons {
  display: none;
}

#menuCheckbox {
  display: none;
}

@media screen and (max-width: 992px) {
  .wrapper {
    padding: 75px;
  }

  .nav__btn {
    display: inline-block;
  }

  .btn_primary {
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .nav__btn .material-icons {
    display: inline-block;
    color: #e1e1e1;
    font-size: 42px;
    padding: 0;
  }

  .nav__logo,
  .nav__btn {
    max-width: 54px;
    width: 100%;
  }

  .nav__btn .btn__txt {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px;
  }

  .container {
    padding: 28px;
  }

  .nav__ul {
    gap: 48px;
  }

  .main {
    margin-top: 160px;
  }

  .main__title {
    font-size: 60px;
  }

  .main__desc {
    font-size: 16px;
  }

  .main__btn {
    min-width: 200px;
    padding: 13px 26px;
    margin-bottom: 56px;
  }

  .loading {
    gap: 24px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    padding: 25px;
  }

  .container {
    padding: 18px;
  }

  .icon_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__ul {
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    height: 100%;
    padding: 60px;
    background: #5e5d5d;
    transform: translateX(-110%);
    transition: 0.2s transform ease-in-out;
    color: white;
    font-size: 18px;
  }

  #menuCheckbox:checked ~ .nav__ul {
    transform: translateX(0);
  }

  .main {
    margin-top: 90px;
  }

  .main__title,
  .main__desc {
    max-width: 400px;
  }

  .main__title {
    font-size: 36px;
  }

  .main__desc {
    font-size: 14px;
    margin-bottom: 60px;
  }

  .main__btn {
    min-width: 140px;
    padding: 12px 24px;
    margin-bottom: 56px;
  }

  .loading {
    gap: 16px;
    margin-bottom: 70px;
  }
}
